.header1{
    font-size: 30px;
    padding-top: 40px;
    color: rgb(61, 61, 131  );
  }
.Required{

    color: red;
    padding-left: 20px;    
}
.Add-btn{
   
    padding-left: 90%;
    
}
.button{
    background-color: #28206b;
    color: aliceblue;
    border-radius: 10px;
}
.Titles{
  padding-top: 10px;
  font-size: 30px;
  color: #28206b;
  font-weight: bolder;
  
}
.text{
    color: #585656;
    font-size: 20px;

}

